/* General text settings */
body {
    font-family: VT323, monospace;
    font-size: 18px;
    background-color: #000000;
    color: ##b30707;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #b30707;
    background-color: #000000;
}

a {
    color: #b30707;
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}



/* Navigation Styles */
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.nav-button {
    padding: 15px 20px;
    background-color: #b30707;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 1rem;
    border: 2px solid transparent;
    width: 200px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

.nav-button:hover {
    background-color: #7a0505;
    transform: translateY(-3px) scale(1.05); 
    box-shadow: 0 0 15px #b30707, 0 0 25px #b30707; /* Glow effect */
    border: 2px solid #b30707; /* Add a border on hover */
}

.nav-button:active {
    transform: translateY(0) scale(1);
    box-shadow: none;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-button:nth-child(1) {
    animation-delay: 0.2s;
}
/*
.nav-button:nth-child(2) {
    animation-delay: 0.4s;
}

.nav-button:nth-child(3) {
    animation-delay: 0.6s;
}
.nav-button:nth-child(4) {
    animation-delay: 0.8s;
}
.nav-button:nth-child(5) {
    animation-delay: 1.0s;
}
.nav-button:nth-child(6) {
    animation-delay: 1.2s;
}
.nav-button:nth-child(7) {
    animation-delay: 1.4s;
} 

Por si agregas más botones.

*/

/* Profile Image Styles */
.profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; /* Makes the image circular */
    border: 3px solid #b30707; 
    object-fit: cover; 
    margin-bottom: 20px; /* Space below the image */
    box-shadow: 0 0 15px #b30707, 0 0 25px #b30707; /* Glow effect */
}

/* Center the header content */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #b30707;
    padding: 20px 0;
}
